# Core Web Application
streamlit
pandas
requests
python-dotenv
Pillow
reportlab
datasets
huggingface_hub

# LangChain and RAG Engine
langchain
langchain-core
langchain-community
langchain-upstage
langchain-text-splitters
langchain-chroma
pypdf
chromadb

# OCR Engine (Future implementation)
paddlepaddle
paddleocr
opencv-python